<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/aop
			            http://www.springframework.org/schema/aop/spring-aop.xsd
			            http://www.springframework.org/schema/tx  
			            http://www.springframework.org/schema/tx/spring-tx.xsd  
	                    http://www.springframework.org/schema/mvc
	                    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描controller注解 -->
	<context:component-scan base-package="com.funstill.customer.web.controller" />
	<context:component-scan base-package="com.funstill.customer.module.dao" />
	<context:component-scan base-package="com.funstill.customer.module.service.impl" />
	<mvc:annotation-driven>
	  <mvc:message-converters> 
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
            <property name="objectMapper"> 
                <bean class="com.funstill.customer.util.JsonNullString"></bean> 
            </property> 
        </bean> 
    </mvc:message-converters> 
	</mvc:annotation-driven>

	<!-- 异常处理 -->
	<bean id="simpleMappingExceptionResolver" class="com.funstill.customer.base.handler.HandleExceptionResolver">
		<property name="classes">
            <list value-type="java.lang.Class[]">
                <value type="java.lang.Class">com.funstill.customer.base.annotation.HtmlRequired</value>
            </list>
        </property>
        <property name="annotationErrorView" value="exception/htmlErr.ftl"/>
        <property name="defaultErrorView" value="exception/jsonErr.ftl"/>
        <property name="order" value="0"/>
	</bean>

</beans>